/* Default Styles */

* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background: #edeef0;
}

a {
    text-decoration: none;
    color: #fff;
}

li {
    list-style: none;
}

::selection {
    background: #68e057;
    color: #fff;
}

::-moz-selection {
    background: #68e057;
    color: #fff;
}

/* Nav Styles */

nav {
    width: 100%;
    height: 40px;
    background: #4a76a8;
}

nav a {
    margin-top: 0.1%;
    padding: 0.3% 0.3% 0.3%;
    font-size: 22px;
    color: #fff;
    font-family: Arial, sans-serif;
}

#reg2 {
    color: #8a8a8a;
    font-size: 15px;
}

#reg {
    color: #8a8a8a;
    margin-left: 20%;
    margin-top: 2%;
}

#msn {
    margin-left: 7%;
    float: left;
    width: 50px;
    height: 22px;
}

nav #pSignIn {
    margin-top: 1%;
    font-size: 25px;
    margin-left: 5%;
}

#pLogin, #pPassword {
    margin-left: 5%;
    margin-top: 7%;
}

input {
    width: 140px;
    height: 20px;
}

#signUp {
    float: right;
    width: 130px;
    height: 25px;
    margin-right: 1%;
    margin-top: 0.2%;
    font-size: 15px;
}

#login {
    margin-top: 5%;
    margin-left: 5%;
}

#password {
    margin-top: 5%;
    margin-left: 5%;
}

nav .signIn {
    width: 200px;
    height: 300px;
    margin-left: 5%;
    margin-top: 1%;
    float: left;
}

nav .block {
    float: left;
    background: #fff;
    width: 1000px;
    height: 800px;
    margin-top: 1.5%;
    text-align: center;
}

nav .block button {
    margin-left: 0.3%;
    height: 30px;
}

#pUpdate {
    margin-top: 3%;
    font-size: 20px;
}

#imgUpdate {
    margin-top: 1%;
}

#pWho {
    text-align: center;
    margin-top: 3%;
    font-size: 25px;
}

#pThis {
    margin-top: 1%;
}

nav button {
    margin-top: 5%;
    margin-left: 5%;
    width: 143px;
    height: 25px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    background: #4a76a8;
    border: none;
    border-radius: 3px;
}

nav button:hover {
    cursor: pointer;
}

/* Modal Window Style */

#modalbackground {
    margin: 0;
    padding: 0;
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background: rgba(0,0,0,0.5);
    z-index:100;
    opacity:0;
    pointer-events: none;
}

#modalbackground:target {
    opacity: 1;
    pointer-events: auto;
}

.momentalReg {
    background: #4a76a8;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff;
    height: 50px;
    font-size: 15px;
    float: left;
    width: 100%;
}

.momentalReg #next {
    display: block;
    background: #4a76a8;
    color: #fff;
    margin-top: 110px;
    width: 303px;
    height: 30px;
    margin-left: 47px;
    border-radius: 3px;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}


.momentalReg #close {
    display: block;
    background: #4a76a8;
    color: #fff;
    width: 301px;
    margin-left: 47px;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
}

.momentalReg h1 {
    margin: 15px;
    font-size: 15px;
    font-weight: normal;
}

#modalWindow {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 400px;
    height: 440px;
    margin-top: 10%;
    margin-left: 35%;
    border: 7px solid #2bc060;
}

#modalWindow h3 {
    padding: 0;
    margin: 0;
}

#modalWindow p {
}

#please {
    font-weight: bold;
    margin-left: 100px;
}

#please, #need {
    height: 0;
    color: #000;
}


#select {
    margin-top: 2%;
    margin-left: 20%;
}

#date {
    margin-top: 5%;
    margin-left: 20%;
    color: #000;
    font-weight: bold;
    font-size: 20px;
}

#aReg {
    margin-top: 5%;
    margin-left: 5%;
    width: 143px;
    height: 25px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    background: #4a76a8;
    border: none;
    border-radius: 3px;
}

#need {
    text-align: center;
}

#pLog {
    margin-top: 7%;
}

#pPass {
    margin-top: 5%;
}

#pPass, #pLog {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    margin-left: 20%;
}

#iLogin {
    margin-top: 2%;
    margin-left: 20%;
    width: 200px;
    height: 25px;
    font-size: 15px;
}

#iPassword {
    margin-left: 20%;
    width: 200px;
    height: 25px;
    font-size: 15px;
}


/* Hover */

#msn:hover, #signUp:hover {
    color: #cbcac4;
    transition: 0.6s ease;
}

/* Modal Window Style 2 */

#modalbackground2 {
    margin: 0;
    padding: 0;
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background: rgba(0,0,0,0.5);
    z-index:100;
    opacity:0;
    pointer-events: none;
}

#modalbackground2:target {
    opacity: 1;
    pointer-events: auto;
}

.momentalReg2 {
    background: #4a76a8;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff;
    height: 50px;
    font-size: 15px;
    float: left;
    width: 100%;
}

.momentalReg2 #next2 {
    display: block;
    background: #4a76a8;
    color: #fff;
    margin-top: 20px;
    width: 300px;
    margin-left: 95px;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
}


.momentalReg2 #close2 {
    display: block;
    background: #4a76a8;
    color: #fff;
    width: 300px;
    margin-left: 95px;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
}

.momentalReg2 h1 {
    margin: 15px;
    font-size: 15px;
    font-weight: normal;
}

#modalWindow2 {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 500px;
    height: 370px;
    margin-top: 10%;
    margin-left: 35%;
    background: #fff;
}

#pLog2 {
    margin-top: 10%;
}

#pPass2 {
    margin-top: 5%;
}

#pPass2, #pLog2 {
    font-size: 20px;
    font-weight: bold;
    color: #000;
    margin-left: 20%;
}

#iLogin2 {
    margin-top: 2%;
    margin-left: 20%;
    width: 200px;
    height: 25px;
    font-size: 15px;
}

#iPassword2 {
    margin-left: 20%;
    width: 200px;
    height: 25px;
    font-size: 15px;
}

#aReg222 {
    color: #8a8a8a;
    font-size: 15px;
}

#aReg22 {
    color: #8a8a8a;
    margin-left: 20%;
    margin-top: 3%;
}

